html {
    interpolate-size: allow-keywords;
}

body {
    margin: initial;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*:focus-visible {
    outline: 2px solid var(--color-content, currentColor);
    outline-offset: 6px;
}
