@use 'sass:math';
@use './include-media' as *;
@use '../variables/fonts.scss' as *;

// HEADING
@mixin text-h1-xxs {
    font-family: $fraktion-sans-family;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1%;
    line-height: 100%;
}

@mixin text-h1-xs {
    font-family: $fraktion-sans-family;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1%;
    line-height: 100%;
}

@mixin text-h1-sm {
    font-family: $fraktion-sans-family;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1%;
    line-height: 90%;
}

@mixin text-h1-md {
    font-family: $fraktion-sans-family;
    font-size: 76px; // Updated on live review with DA (not sync in figma)
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1%;
    line-height: 90%;
}

@mixin text-h1-lg {
    font-family: $fraktion-sans-family;
    font-size: 104px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1%;
    line-height: 90%;
}

@mixin text-h1 {
    @include text-h1-xs;

    @include media('>=md') {
        font-size: 64px;
        line-height: 90%;
    }

    @include media('>=lg') {
        font-size: 76px;
    }

    @include media('>=vl') {
        font-size: 80px; // Updated on live review with DA (not sync in figma)
    }

    @include media('>=xl') {
        font-size: 88px;
    }
}

@mixin text-h2-xs {
    font-family: $fraktion-sans-family;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.24px;
    line-height: 120%;
}

@mixin text-h2-sm {
    font-family: $fraktion-sans-family;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.32px;
    line-height: 120%;
}

@mixin text-h2-md {
    font-family: $fraktion-sans-family;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.38px;
    line-height: 120%;
}

@mixin text-h2 {
    @include text-h2-xs;

    @include media('>=md') {
        font-size: 32px;
        letter-spacing: -0.32px;
    }

    @include media('>=lg') {
        font-size: 38px;
        letter-spacing: -0.38px;
    }
}

@mixin text-h3-xs {
    font-family: $fraktion-sans-family;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

@mixin text-h3-sm {
    font-family: $fraktion-sans-family;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

@mixin text-h3-md {
    font-family: $fraktion-sans-family;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

@mixin text-h3 {
    @include text-h3-xs;

    @include media('>=md') {
        font-size: 22px;
    }

    @include media('>=lg') {
        font-size: 24px;
    }
}

@mixin text-h4-xs {
    font-family: $fraktion-sans-family;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

@mixin text-h4-sm {
    font-family: $fraktion-sans-family;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

@mixin text-h4-md {
    font-family: $fraktion-sans-family;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

@mixin text-h4 {
    @include text-h4-xs;

    @include media('>=md') {
        font-size: 18px;
    }

    @include media('>=lg') {
        font-size: 20px;
    }
}

@mixin text-h5-xs {
    font-family: $fraktion-sans-family;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

@mixin text-h5-sm {
    font-family: $fraktion-sans-family;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

@mixin text-h5-md {
    font-family: $fraktion-sans-family;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

@mixin text-h5 {
    @include text-h5-xs;

    @include media('>=md') {
        font-size: 18px;
    }

    @include media('>=lg') {
        font-size: 18px;
    }
}

@mixin text-overtitle-md {
    font-family: $fraktion-sans-family;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}


@mixin text-subtitle-xs {
    font-family: $fraktion-sans-family;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 110%;
}

@mixin text-subtitle-sm {
    font-family: $fraktion-sans-family;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.24px;
    line-height: 110%;
}

@mixin text-subtitle-md {
    font-family: $fraktion-sans-family;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.24px;
    line-height: 110%;
}

@mixin text-subtitle {
    @include text-subtitle-xs;

    @include media('>=md') {
        font-size: 24px;
    }

    @include media('>=lg') {
        font-size: 24px;
    }
}

// BODY
@mixin text-body-xxs {
    font-family: $fraktion-sans-family;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

@mixin text-body-xs {
    font-family: $fraktion-sans-family;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

@mixin text-body-sm {
    font-family: $fraktion-sans-family;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

@mixin text-body-md {
    font-family: $fraktion-sans-family;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

@mixin text-body-lg {
    font-family: $fraktion-sans-family;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

@mixin text-body {
    @include text-body-xs;

    @include media('>=md') {
        font-size: 16px;
        line-height: 140%;
    }

    @include media('>=lg') {
        font-size: 18px;
        line-height: 140%;
    }
}

// BUTTONS
@mixin label-text-button-basic-commons {
    font-family: $fraktion-sans-family;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}

@mixin label-text-button-basic-sm {
    font-size: 14px;

    @include label-text-button-basic-commons;
}

@mixin label-text-button-basic-md {
    font-size: 16px;

    @include label-text-button-basic-commons;
}

@mixin label-text-button-basic-lg {
    font-size: 18px;

    @include label-text-button-basic-commons;
}

// OTHERS
@mixin text-introduction-xs {
    font-family: $fraktion-sans-family;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 114%;
}

@mixin text-introduction-sm {
    font-family: $fraktion-sans-family;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 114%;
}

@mixin text-introduction-md {
    font-family: $fraktion-sans-family;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 114%;
}

@mixin text-introduction-lg {
    font-family: $fraktion-sans-family;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

@mixin text-introduction {
    @include text-introduction-xs;

    @include media('>=md') {
        font-size: 24px;
    }

    @include media('>=lg') {
        font-size: 32px;
    }
}

// Event

@mixin text-event-title-xs {
    font-family: $fraktion-sans-family;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.42px;
    line-height: 100%;
}

@mixin text-event-title-sm {
    font-family: $fraktion-sans-family;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.48px;
    line-height: 100%;
}

@mixin text-event-title-md {
    font-family: $fraktion-sans-family;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.8px;
    line-height: 94%;
}

@mixin text-event-title {
    @include text-event-title-xs;

    @include media('>=md') {
        font-size: 48px;
        letter-spacing: -0.48px;
    }

    @include media('>=lg') {
        font-size: 80px;
        letter-spacing: -0.8px;
        line-height: 94%;
    }
}

@mixin text-event-subtitle-xs {
    font-family: $fraktion-sans-family;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.28px;
    line-height: 120%;
}

@mixin text-event-subtitle-sm {
    font-family: $fraktion-sans-family;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.28px;
    line-height: 120%;
}

@mixin text-event-subtitle-md {
    font-family: $fraktion-sans-family;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.44px;
    line-height: 110%;
}

@mixin text-event-subtitle {
    @include text-event-subtitle-sm;

    @include media('>=lg') {
        font-size: 44px;
        letter-spacing: -0.44px;
        line-height: 110%;
    }
}

@mixin text-event-subtitle-2-xs {
    font-family: $fraktion-sans-family;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

@mixin text-event-subtitle-2-sm {
    font-family: $fraktion-sans-family;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

@mixin text-event-subtitle-2-md {
    font-family: $fraktion-sans-family;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

@mixin text-event-subtitle-2 {
    @include text-event-subtitle-2-sm;

    @include media('>=md') {
        font-size: 18px;
        line-height: 130%;
    }

    @include media('>=lg') {
        font-size: 24px;
    }
}

@mixin text-event-date-item-xs {
    font-family: $fraktion-sans-family;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
}

@mixin text-event-date-item-sm {
    font-family: $fraktion-sans-family;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}

@mixin text-event-date-item-md {
    font-family: $fraktion-sans-family;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}

@mixin text-event-date-item {
    @include text-event-date-item-sm;

    @include media('>=lg') {
        font-size: 28px;
    }
}

@mixin text-event-introduction-sm {
    font-family: $fraktion-sans-family;
    font-size: 22px;
    font-style: normal;
    font-weight: 450;
    line-height: 114%;
}

@mixin text-event-introduction-md {
    font-family: $fraktion-sans-family;
    font-size: 28px;
    font-style: normal;
    font-weight: 450;
    line-height: 116%;
}

@mixin text-event-introduction {
    @include text-event-introduction-sm;

    @include media('>=lg') {
        font-size: 28px;
        line-height: 116%;
    }
}

@mixin text-event-info-sm($font-weight: 400) {
    font-family: $fraktion-sans-family;
    font-size: 16px;
    font-style: normal;
    font-weight: $font-weight;
    letter-spacing: -0.16px;
    line-height: 110%;
}

@mixin text-event-info-md($font-weight: 400) {
    font-family: $fraktion-sans-family;
    font-size: 18px;
    font-style: normal;
    font-weight: $font-weight;
    letter-spacing: -0.18px;
    line-height: 110%;
}

@mixin text-event-info($font-weight: 400) {
    @include text-event-info-sm($font-weight);

    font-weight: $font-weight;

    @include media('>=lg') {
        font-size: 18px;
        letter-spacing: -0.18px;
    }
}

@mixin text-event-card-title-xs {
    font-family: $fraktion-sans-family;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

@mixin text-event-card-title-sm {
    font-family: $fraktion-sans-family;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

@mixin text-event-card-title-md {
    font-family: $fraktion-sans-family;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.3px;
    line-height: 100%;
}

@mixin text-event-card-title-lg {
    font-family: $fraktion-sans-family;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.36px;
    line-height: 100%;
}

@mixin text-event-card-title {
    @include text-event-card-title-sm;

    @include media('>=lg') {
        font-size: 28px;
        letter-spacing: -0.3px;
    }
}

@mixin text-event-card-subtitle-xs {
    font-family: $fraktion-sans-family;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.16px;
    line-height: 110%;
}

@mixin text-event-card-subtitle-sm {
    font-family: $fraktion-sans-family;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.18px;
    line-height: 110%;
}

@mixin text-event-card-subtitle-md {
    font-family: $fraktion-sans-family;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 120%;
}

@mixin text-event-card-subtitle-lg {
    font-family: $fraktion-sans-family;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.24px;
    line-height: 120%;
}

@mixin text-event-card-subtitle {
    @include text-event-card-subtitle-sm;

    @include media('>=lg') {
        font-size: 20px;
        letter-spacing: -0.2px;
        line-height: 120%;
    }
}

// TAGS
@mixin label-tag-common {
    font-family: $fraktion-sans-family;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}

@mixin label-tag-xs {
    font-family: $fraktion-sans-family;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}

@mixin label-tag-sm {
    font-family: $fraktion-sans-family;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}

@mixin label-tag-md {
    font-family: $fraktion-sans-family;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}

@mixin label-tag {
    @include label-tag-xs;

    @include media('>=md') {
        font-size: 16px;
    }

    @include media('>=lg') {
        font-size: 18px;
    }
}

// ohers
@mixin label-more-xs {
    font-family: $fraktion-sans-family;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.32px;
    line-height: 100%;
}

@mixin label-more-sm {
    font-family: $fraktion-sans-family;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;

    /* 42px */
    letter-spacing: -0.42px;
    line-height: 100%;
}

@mixin label-more-md {
    font-family: $fraktion-sans-family;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;

    /* 56px */
    letter-spacing: -0.56px;
    line-height: 100%;
}

@mixin label-more {
    @include label-more-xs;

    @include media('>=lg') {
        font-size: 42px;
        letter-spacing: -0.42px;
    }

    @include media('>=xl') {
        font-size: 56px;
        letter-spacing: -0.56px;
    }
}

@mixin label-breadcrumb-sm {
    font-family: $fraktion-sans-family;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

@mixin label-breadcrumb-md {
    font-family: $fraktion-sans-family;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

// FORM
@mixin text-form-input {
    font-family: $fraktion-sans-family;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}

@mixin text-form-label {
    font-family: $fraktion-sans-family;
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
    line-height: 120%;
}

@mixin text-form-label-option {
    font-family: $fraktion-sans-family;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: 120%;
}

@mixin text-form-error {
    font-family: $fraktion-sans-family;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

@mixin text-form-supporting {
    font-family: $fraktion-sans-family;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
