$fraktion-sans-name: 'PP Fraktion Sans';
$fraktion-sans-name-fallback: '#{$fraktion-sans-name} fallback';
$fraktion-sans-family: $fraktion-sans-name, $fraktion-sans-name-fallback, sans-serif;
$fraktion-mono-name: 'PP Fraktion Mono';
$fraktion-mono-name-fallback: '#{$fraktion-mono-name} fallback';
$fraktion-mono-family: $fraktion-mono-name, $fraktion-mono-name-fallback, monospace;
