@use './colors' as *;

$themes: (
    main: (
		color-surface: #2D2D2D,
        color-background: #151515,
        color-content: #DBE6EC,
        color-accent: #E3FD41,
    ),
    blue: (
        color-surface: #272737,
		color-background: #040915,
        color-content: #b8bdd6,
        color-accent: #f09042,
    ),
    green: (
        color-surface: #232828,
		color-background: #160d17,
        color-content: #69f7a6,
        color-accent: #ff5252,
    )
);
$default-theme: main;
