@mixin arrow-link {
    a {
        @include arrow($offset-right: true);
    }
}

@mixin arrow($offset-right: false) {
    position: relative;

    &::after,
    &::before {
        position: absolute;
        top: rem(2);
        right: if($offset-right, rem(-20), 0);
        display: block;
        width: rem(12);
        height: rem(12);
        content: '';
        opacity: 0.7;
        transition: opacity 0.3s ease(out-quad);
    }

    &::after {
        border: solid currentColor;
        border-width: 1px 1px 0 0;
    }

    &::before {
        border-right: 1px solid currentColor;
        rotate: 45deg;
        scale: 1 1.2;
        transform-origin: top right;
        transition: scale 0.2s ease(out-quad);
        translate: 0 1px;
    }

    @media (hover: hover) {
        &:hover::before {
            scale: 1 1.4;
        }

        &:hover::after,
        &:hover::before {
            opacity: 1;
            animation: slide-out-in 0.3s ease(in-out-quad);
        }
    }
}

//@keyframes slide-out-in {
//    0% {
//        translate: 0 0;
//    }
//    50% {
//        translate: 100% 100%;
//    }
//    50.1% {
//        translate: -100% -100%;
//    }
//    100% {
//        translate: 0 0;
//    }
//}
