@mixin scroll-bar-hidden {
    @include scroll-section;

    -ms-overflow-style: none; /* IE and Edge */
    overscroll-behavior: contain;
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin scroll-section {
    max-height: var(--scroll-section-max-height);
    overflow-y: auto;
}
