
@mixin margin-block($size: s) {
    $slice-size-content: map-get($slice, $size);
    $margin-block-value: map-get($slice-size-content, margin-block);
    margin-block: $margin-block-value;
}

@mixin slice-properties-with-media-query {
    @each $breakpoint, $value in $slice {
        @if $breakpoint == 0 {
            --grid-width: #{$value};
        }
        @else {
            @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
                --grid-width: #{$value};
            }
        }
    }
}
