// Exported from variable2css figma plugin
// https://www.figma.com/community/plugin/1261234393153346915/variables2css

// Generated output is sass, need to convert to scss
// CMD f + CMD r could help

/* Tokens */
$themes: (
    light: (
        color-anchors-border: $colors-brand-petrol-0,
        color-anchors-border-hover: $colors-brand-petrol-15,
        color-anchors-border-selected: $colors-brand-petrol-dark,
        color-anchors-content: $colors-brand-petrol-dark,
        //
        color-breadcrumb-border: $colors-brand-petrol-5,
        color-breadcrumb-border-hover: $colors-brand-petrol-dark,
        color-breadcrumb-label: $colors-brand-petrol-dark,
        //
        color-buttons-fab-bg: $colors-white-100,
        color-buttons-fab-bg-hover: $colors-gray-50,
        color-buttons-fab-bg-selected: $colors-gray-100,
        color-buttons-fab-content: $colors-brand-petrol-dark,
        color-buttons-fab-content-disabled: $colors-brand-petrol-30,
        color-buttons-fab-content-hover: $colors-brand-petrol-dark,
        color-buttons-fab-content-selected: $colors-brand-petrol-dark,
        //
        color-buttons-high-bg: $colors-brand-petrol-dark,
        color-buttons-high-bg-disabled: $colors-brand-petrol-5,
        color-buttons-high-bg-hover: $colors-brand-petrol,
        color-buttons-high-content: $colors-white-100,
        color-buttons-high-content-disabled: $colors-brand-petrol-30,
        color-buttons-high-content-hover: $colors-white-100,
        //
        color-buttons-low-content: $colors-brand-petrol-dark,
        color-buttons-low-content-disable: $colors-brand-petrol-30,
        color-buttons-low-content-hover: $colors-brand-red,
        //
        color-buttons-medium-bg-hover: $colors-brand-petrol,
        color-buttons-medium-bg-selected: $colors-brand-petrol,
        color-buttons-medium-border: $colors-brand-petrol-50,
        color-buttons-medium-border-disabled: $colors-brand-petrol-50,
        color-buttons-medium-content: $colors-brand-petrol-dark,
        color-buttons-medium-content-disabled: $colors-brand-petrol-50,
        color-buttons-medium-content-hover: $colors-white-100,
        //
        color-buttons-menu-bg: $colors-white-100,
        color-buttons-menu-bg-hover: $colors-brand-red,
        color-buttons-menu-bg-selected: $colors-brand-red,
        color-buttons-menu-bg-selected-hover: $colors-brand-red-medium,
        color-buttons-menu-border: $colors-brand-petrol-30,
        color-buttons-menu-icon-dark: $colors-brand-red-light,
        color-buttons-menu-icon-hover: $colors-white-100,
        color-buttons-menu-icon-light: $colors-brand-red,
        color-buttons-menu-icon-selected: $colors-white-100,
        color-buttons-menu-label: $colors-brand-petrol-dark,
        color-buttons-menu-label-hover: $colors-white-100,
        color-buttons-menu-label-selected: $colors-white-100,
        //
        color-content-primary: $colors-brand-petrol-dark,
        color-content-primary-inverted: $colors-white-100,
        color-content-primary-inverted-static: $colors-white-100,
        color-content-primary-static: $colors-brand-petrol-dark,
        color-content-red: $colors-brand-red,
        color-content-redlight: $colors-brand-red-light,
        color-content-secondary: $colors-brand-petrol-75,
        color-content-secondary-inverted: $colors-white-80,
        color-controls-default: $colors-brand-petrol-dark-75,
        color-controls-disabled: $colors-brand-petrol-30,
        color-controls-hover: $colors-brand-petrol-dark,
        color-controls-selected: $colors-brand-petrol-medium,
        //
        color-form-content: $colors-brand-petrol-dark,
        color-form-content-alert: $colors-generic-red,
        color-form-content-inverted: $colors-white-100,
        color-form-content-warning: $colors-generic-orange,
        color-form-form-content-success: $colors-generic-green,
        color-form-input-bg: $colors-brand-petrol-dark-5,
        color-form-input-bg-alert: $colors-generic-red-light,
        color-form-input-bg-focus: $colors-brand-petrol-dark-10,
        color-form-input-label: $colors-brand-petrol-dark,
        color-form-search-placeholder: $colors-brand-petrol-dark-30,
        //
        color-lines-primary: $colors-brand-petrol-15,
        color-lines-primary-hover-selected: $colors-brand-petrol-dark,
        color-lines-primary-inverted-static: $colors-white-20,
        color-links-border: $colors-brand-petrol-dark-0,
        color-links-border-hover: $colors-brand-petrol-dark-75,
        color-links-border-selected: $colors-brand-petrol-dark,
        color-links-content: $colors-brand-petrol-dark,
        //
        color-logo-content: $colors-brand-petrol,
        color-logo-logo-baseline: $colors-brand-red,
        //
        color-pagination-bg: $colors-white-100,
        color-pagination-bg-hover: $colors-white-100,
        color-pagination-bg-selected: $colors-brand-petrol,
        color-pagination-content: $colors-brand-petrol-dark,
        color-pagination-content-hover: $colors-brand-petrol-dark,
        color-pagination-content-selected: $colors-white-100,
        //
        color-surfaces-basics-dark: $colors-brand-petrol-dark,
        color-surfaces-basics-dark-secondary: $colors-brand-petrol-medium,
        color-surfaces-basics-dark-static: $colors-brand-petrol-dark,
        color-surfaces-basics-headerevent: $colors-gray-50,
        color-surfaces-basics-headerpage: $colors-gray-50,
        color-surfaces-basics-light: $colors-white-100,
        color-surfaces-basics-light-secondary: $colors-gray-50,
        color-surfaces-basics-light-secondary-static: $colors-gray-50,
        color-surfaces-basics-light-static: $colors-white-100,
        color-surfaces-basics-light-tertiary: $colors-brand-ecru,
        color-surfaces-basics-media-overlay: $colors-brand-petrol-dark-5,
        color-surfaces-basics-overlay: $colors-brand-petrol-dark-75,
        color-surfaces-basics-tertiary-static: $colors-brand-ecru,
        color-surfaces-brand-beige: $colors-brand-beige,
        color-surfaces-brand-petrol: $colors-brand-petrol,
        color-surfaces-brand-red: $colors-brand-red,
        //
        color-tags-categories-label-dark: $colors-white-100,
        color-tags-categories-label-primary: $colors-brand-red,
        color-tags-categories-label-primary-dark: $colors-brand-red-light,
        color-tags-categories-label-primary-hover: $colors-brand-red-medium,
        color-tags-categories-label-secondary: $colors-brand-petrol,
        color-tags-filters-bg-hover: $colors-brand-petrol-5,
        color-tags-filters-bg-pressed: $colors-brand-petrol-10,
        color-tags-filters-bg-selected: $colors-brand-petrol-dark,
        color-tags-filters-bg-selected-hover: $colors-brand-petrol-medium,
        color-tags-filters-bg-selected-pressed: $colors-brand-petrol-dark,
        color-tags-filters-border: $colors-brand-petrol-30,
        color-tags-filters-label: $colors-brand-petrol-dark,
        color-tags-filters-label-selected: $colors-white-100,
        color-tags-infos-bg: $colors-brand-petrol-dark,
        color-tags-infos-label: $colors-white-100,
        //
        color-widgets-border: $colors-brand-petrol-20,
        color-widgets-border-hover: $colors-brand-petrol,
        color-widgets-hour-bg: $colors-brand-petrol,
        color-widgets-hour-bg-hover: $colors-brand-petrol-medium,
    ),
    dark: (
        /* color */
        color-anchors-border: $colors-white-0,
        color-anchors-border-hover: $colors-white-15,
        color-anchors-border-selected: $colors-white-100,
        color-anchors-content: $colors-white-100,
        color-breadcrumb-border: $colors-white-5,
        color-breadcrumb-border-hover: $colors-white-100,
        color-breadcrumb-label: $colors-white-100,
        color-buttons-fab-bg: $colors-white-100,
        color-buttons-fab-bg-hover: $colors-gray-50,
        color-buttons-fab-bg-selected: $colors-gray-100,
        color-buttons-fab-content: $colors-brand-petrol-dark,
        color-buttons-fab-content-disabled: $colors-brand-petrol-30,
        color-buttons-fab-content-hover: $colors-brand-petrol-dark,
        color-buttons-fab-content-selected: $colors-brand-petrol-dark,
        color-buttons-high-bg: $colors-white-100,
        color-buttons-high-bg-disabled: $colors-white-5,
        color-buttons-high-bg-hover: $colors-gray-200,
        color-buttons-high-content: $colors-brand-petrol-dark,
        color-buttons-high-content-disabled: $colors-white-30,
        color-buttons-high-content-hover: $colors-brand-petrol-dark,
        color-buttons-low-content: $colors-white-100,
        color-buttons-low-content-disable: $colors-white-30,
        color-buttons-low-content-hover: $colors-brand-red-light,
        color-buttons-medium-bg-hover: $colors-white-100,
        color-buttons-medium-bg-selected: $colors-white-100,
        color-buttons-medium-border: $colors-white-50,
        color-buttons-medium-border-disabled: $colors-white-50,
        color-buttons-medium-content: $colors-white-100,
        color-buttons-medium-content-disabled: $colors-white-50,
        color-buttons-medium-content-hover: $colors-brand-petrol-dark,
        color-buttons-menu-bg: $colors-brand-petrol-dark,
        color-buttons-menu-bg-hover: $colors-brand-red,
        color-buttons-menu-bg-selected: $colors-brand-red,
        color-buttons-menu-bg-selected-hover: $colors-brand-red-medium,
        color-buttons-menu-border: $colors-white-30,
        color-buttons-menu-icon-dark: $colors-brand-red-light,
        color-buttons-menu-icon-hover: $colors-white-100,
        color-buttons-menu-icon-light: $colors-brand-red-light,
        color-buttons-menu-icon-selected: $colors-white-100,
        color-buttons-menu-label: $colors-white-100,
        color-buttons-menu-label-hover: $colors-white-100,
        color-buttons-menu-label-selected: $colors-white-100,
        color-content-primary: $colors-white-100,
        color-content-primary-inverted: $colors-brand-petrol-dark,
        color-content-primary-inverted-static: $colors-white-100,
        color-content-primary-static: $colors-brand-petrol-dark,
        color-content-red: $colors-brand-red-light,
        color-content-redlight: $colors-brand-red-light,
        color-content-secondary: $colors-white-80,
        color-content-secondary-inverted: $colors-brand-petrol-75,
        color-controls-default: $colors-white-80,
        color-controls-disabled: $colors-white-30,
        color-controls-hover: $colors-white-100,
        color-controls-selected: $colors-white-100,
        color-form-content: $colors-white-100,
        color-form-content-alert: $colors-generic-red,
        color-form-content-inverted: $colors-brand-petrol-dark,
        color-form-content-warning: $colors-generic-orange,
        color-form-form-content-success: $colors-generic-green,
        color-form-input-bg: $colors-white-5,
        color-form-input-bg-alert: $colors-generic-red-light,
        color-form-input-bg-focus: $colors-white-10,
        color-form-input-label: $colors-white-100,
        color-form-search-placeholder: $colors-white-30,
        color-lines-primary: $colors-white-20,
        color-lines-primary-hover-selected: $colors-white-100,
        color-lines-primary-inverted-static: $colors-white-20,
        color-links-border: $colors-white-0,
        color-links-border-hover: $colors-white-80,
        color-links-border-selected: $colors-white-100,
        color-links-content: $colors-white-100,
        color-logo-content: $colors-white-100,
        color-logo-logo-baseline: $colors-white-50,
        color-pagination-bg: $colors-brand-petrol-dark,
        color-pagination-bg-hover: $colors-brand-petrol-dark,
        color-pagination-bg-selected: $colors-white-100,
        color-pagination-content: $colors-white-100,
        color-pagination-content-hover: $colors-white-100,
        color-pagination-content-selected: $colors-brand-petrol-dark,
        color-surfaces-basics-dark: $colors-white-100,
        color-surfaces-basics-dark-secondary: $colors-gray-50,
        color-surfaces-basics-dark-static: $colors-brand-petrol-dark,
        color-surfaces-basics-headerevent: $colors-brand-petrol-medium,
        color-surfaces-basics-headerpage: $colors-brand-petrol-dark,
        color-surfaces-basics-light: $colors-brand-petrol-dark,
        color-surfaces-basics-light-secondary: $colors-brand-petrol-medium,
        color-surfaces-basics-light-secondary-static: $colors-gray-50,
        color-surfaces-basics-light-static: $colors-white-100,
        color-surfaces-basics-light-tertiary: $colors-brand-petrol,
        color-surfaces-basics-media-overlay: $colors-brand-petrol-dark-5,
        color-surfaces-basics-overlay: $colors-brand-petrol-dark-75,
        color-surfaces-basics-tertiary-static: $colors-brand-ecru,
        color-surfaces-brand-beige: $colors-brand-beige,
        color-surfaces-brand-petrol: $colors-brand-petrol,
        color-surfaces-brand-red: $colors-brand-red-light,
        color-tags-categories-label-dark: $colors-white-100,
        color-tags-categories-label-primary: $colors-brand-red-light,
        color-tags-categories-label-primary-dark: $colors-brand-red-light,
        color-tags-categories-label-primary-hover: $colors-gray-100,
        color-tags-categories-label-secondary: $colors-white-80,
        color-tags-filters-bg-hover: $colors-white-10,
        color-tags-filters-bg-pressed: $colors-white-20,
        color-tags-filters-bg-selected: $colors-white-100,
        color-tags-filters-bg-selected-hover: $colors-gray-50,
        color-tags-filters-bg-selected-pressed: $colors-white-100,
        color-tags-filters-border: $colors-white-50,
        color-tags-filters-label: $colors-white-100,
        color-tags-filters-label-selected: $colors-brand-petrol-dark,
        color-tags-infos-bg: $colors-white-100,
        color-tags-infos-label: $colors-brand-petrol-dark,
        color-widgets-border: $colors-white-20,
        color-widgets-border-hover: $colors-white-80,
        color-widgets-hour-bg: $colors-brand-petrol,
        color-widgets-hour-bg-hover: $colors-brand-petrol-medium,
    ),
);
$default-theme: light;
