body {
    @include text-body-m;

    background-color: var(--theme-background-color);
    color: var(--theme-foreground-color);
    font-family: $noi;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: inherit;
    text-decoration-thickness: inherit;
    text-underline-offset: inherit;
}

button {
    border: none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
    text-transform: inherit;

    &:disabled {
        cursor: default;
    }
}

input {
    color: inherit;
    font-size: inherit;
    line-height: inherit;

    &[type="submit"],
    &[type="reset"] {
        cursor: pointer;
    }
}

textarea,
select {
    color: inherit;
    font: inherit;
    line-height: inherit;
}

img {
    max-width: 100%;
    -webkit-user-drag: none;
}

//::selection {
//    background-color: color(orange);
//    color: color(light);
//    text-shadow: none;
//}
