$predefined-themes: (
    1: (
        foreground-color: #b8bdd6 ,
        background-color: #040915,
        accent-color: #f09042,
    ),
    2: (
        foreground-color: #121a40,
        background-color:  #14a39a,
        accent-color:  #cee6ee,
    ),
    3: (
        background-color:  #0d5963,
        foreground-color: #cda1dd,
        accent-color:  #63e3d4,
    ),
    4: (
        foreground-color: #ebdcc2,
        background-color:  #0e4548,
        accent-color:  #b3f2ff,
    ),
    5: (
        foreground-color: #69f7a6,
        background-color:  #160d17,
        accent-color:  #ff5252,
    ),
)
