$predefined-themes: (
    1: (
        foreground-color: #b8bdd6,
        background-color: #040915,
        accent-color: #f09042,
    ),
    2: (
        foreground-color: #69f7a6,
        background-color: #160d17,
        accent-color:  #ff5252,
    ),
    3: (
        foreground-color: #d4dfff,
        accent-color: #67fff2,
        background-color: #07080c,
    ),
)
