$themes: (
    light: (
        foreground-color: color(black),
        background-color: color(white),
        accent-color: color(accent),
    ),
    dark: (
        foreground-color: color(white),
        background-color: color(black),
        accent-color: color(accent),
    ),
    accent: (
        foreground-color: color(black),
        background-color: color(accent),
        accent-color: color(white),
    ),
);

$default-theme: light;
