@use "sass:map";
@use "sass:math";

$v-button-size-vars-by-variant: () !default;

// root
$v-button: (
    xs: (
        font-size: rem(11),
        min-width: rem(22),
        height: rem(20),
        padding: 0 rem(10),
    ),
    s: (
        font-size: rem(13),
        min-width: rem(86),
        height: rem(26),
        padding: 0 rem(16),
    ),
    m: (
        font-size: rem(16),
        min-width: rem(40),
        height: rem(40),
        padding: 0 rem(14),
    ),
    l: (
        font-size: rem(17),
        min-width: rem(64),
        height: rem(42),
        padding: 0 rem(18),
    ),
    xl: (
        font-size: rem(52),
        min-width: 220px,
        height: rem(84),
        padding: rem(14) rem(38),
    ),
);

$v-button-rounded: (
    xs: (
        border-radius: math.div(24px, 2),
    ),
    s: (
        border-radius: math.div(32px, 2),
    ),
    m: (
        border-radius: 100vmax,
    ),
    l: (
        border-radius: math.div(48px, 2),
    ),
    xl: (
        border-radius: math.div(92px, 2),
    ),
);

// icon
$v-button-icon: (
    s: (
        margin: 0 rem(4),
    ),
    m: (
        margin: 0 rem(6) 0 rem(12),
    ),
);

// label
$v-button-label: (
    xs: (
        font-weight: 500,
    ),
    s: (
        font-weight: 500,
    ),
    m: (
        font-weight: 500,
    ),
);


$v-button-size-vars-by-variant: map-merge($v-button-size-vars-by-variant, (
    default: (
        (vars: $v-button, prefix: ''),
        (vars: $v-button-rounded, prefix: 'rounded'),
        (vars: $v-button-icon, prefix: 'icon'),
        (vars: $v-button-label, prefix: 'label'),
    )
));
